@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

.bg-light-l {
    background-color: #ffffff;
}

.bg-primary-d {
    background-color: #1E3D58 !important;
}

.f-sora {
    font-family: 'Sora', sans-serif;
}

.f-sora-bold {
    font-family: 'Sora', sans-serif;
    font-weight: 700 !important;
}

.root {
    position: sticky;
    top: 0;
    width: 100%;
    min-width: 50px;
    min-height: 100vh;
    border-right: 3px solid #b5b5b5;
    transition: 0.3s all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.root-element {
    position: relative;
}

.default-bar {
    min-height: 72px;
}

.title-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}

.title-bar > * {
    cursor: pointer;
}

.title-bar > img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 8px;
}

.options {
    padding: 20px;
}

.abrir-cerrar-bar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5px;
    background-color: white;
    border: solid 1px #b5b5b5;
    border-radius: 10px;
    top: 80px;
    right: -15px;
    transform: rotate(180deg);
    cursor: pointer;
}

.change-theme {

}

.small-bar {
    .title-bar > h3 {
        display: none;
    }

    .title-bar > img {
        margin: 0px;
    } 

    .options {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .side-element {
        label {
            display: none;
        }
    
        img {
            width: 30px;
            height: 30px;
        }
    }

    .abrir-cerrar-bar {
        transform: rotate(0deg);
    }
}


@media (max-width: 1300px) {
    .options {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .title-bar > h3 {
        display: none;
    }

    .title-bar > img {
        margin: 0px;
    }
}