<div class="card d-flex flex-column shadow ">
    <div>
        <div class="d-flex justify-content-between px-2">
            <div class="d-flex align-items-center justify-content-between w-100 p-2">
                <p class="card-text mb-0 fw-bold">#{{ idea.id }}</p>
                <p class="card-text mb-0 nombre-usuario">{{ usuario?.nombre }} {{ usuario?.apellidos }}</p>
            </div>
        </div>
    </div>
    <img src="{{idea.imagen}}"
        alt="foto_idea" class="foto-idea" loading="lazy">
    <div class="card-body">
        <h5 class="card-title mb-0">{{ idea.titulo }}</h5>
        <p class="card-text"><small class="text-body-secondary campo">Campo: {{ idea.campo }}</small></p>
        <div class="caja-des">
            <p class="card-text descripcion">{{ idea.descripcion }}</p>
        </div>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary text-white">Editar</button>
            <button type="button" class="btn btn-danger">Borrar</button>
        </div>
    </div>
</div>