@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

.text-light-l {
    color: #ffffff;
}

.foto-idea {
    height: 170px;
    object-fit: cover;
}

.foto-emprendedor {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.card {
    width: 350px;
    margin: 20px;
}

.card-title {
    font-weight: 600;
    font-size: 1.5rem;
}

.caja-des {
    height: 75px;
}

.descripcion {
    max-height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.campo {
    font-size: 12px;
}

// .cursor-pointer {
//     cursor: pointer;
// }

// .cursor-pointer:hover {
//     text-decoration: underline;
//     color: #003cff;
// }

.nombre-usuario {
    font-family: 'sora', sans-serif;
    font-size: 0.9rem;
}

@media (max-width: 500px) {
    .card {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .card {
        width: 277px;
    }
}