<div *ngIf="usuario !== null" class="container-fluid root-element bg-light">
    <div class="row">
        <app-side-bar class="col-2 px-0 me-0 no-bootstrap-styles" id="side-bar" (click)="onOpenBar()" [open]="open"
            [session]="session"></app-side-bar>
        <div class="col-10 mx-0 bg-light h-100" id="content">
            <form>
                <div class="row bg-light">
                    <div class="banner bg-primary mx-0" (click)="openFileInput()">
                        <img src="{{this.usuarioTemporal?.banner}}" alt="banner_perfil">
                        <input class="foto-banner" type="file" #fileBanner (change)="onFileSelected($event)">
                    </div>
                    <div class="bg-light-l mx-0">
                        <div class="info-perfil d-grid gap-4 ps-5">
                            <div>
                                <img src="{{this.usuarioTemporal?.imagen}}"
                                    alt="foto_perfil" class="rounded-circle foto-perfil">
                            </div>
                            <div class="nombre-completo">
                                <div class="nombre">
                                    <label for="nombre" class="form-label h3"><strong>Nombre</strong></label>
                                    <input id="nombre" type="text" class="form-control" value="{{this.usuarioTemporal?.nombre}}">
                                </div>
                                <div class="apellidos">
                                    <label for="apellidos" class="form-label h3"><strong>Apellido</strong></label>
                                    <input id="apellidos" type="text" class="form-control" value="{{this.usuarioTemporal?.apellidos}}">
                                </div>
                            </div>
                            <div class="profesion input-box">
                                <label for="profesion" class="form-label h3"><strong>Profesión</strong></label>
                                <input id="profesion" type="text" class="form-control" value="{{this.usuarioTemporal?.profesion}}">
                            </div>
                            <div class="descripcion input-box">
                                <label for="descripcion" class="form-label h3"><Strong>Descripción</Strong></label>
                                <textarea id="descripcion" value="{{this.usuarioTemporal?.descripcion}}"
                                class="form-control" name="descripcion"></textarea>
                            </div>
                            <div class="correo input-box">
                                <label for="correo" class="form-label h3"><strong>Correo</strong></label>
                                <input id="correo" type="email" class="form-control" value="{{this.usuarioTemporal?.correo}}">
                            </div>
                            <div class="contraseña input-box">
                                <label for="contraseña" class="form-label h3"><strong>Cambiar contraseña</strong></label>
                                <input id="contraseña" type="password" class="form-control" placeholder="Intoruce tu nueva contraseña...">
                            </div>
                            <div class="confirmarContraseña input-box">
                                <label for="confirmarContraseña" class="form-label h3"><strong>Confirmar contraseña</strong></label>
                                <input id="confirmarContraseña" type="password" class="form-control" placeholder="Confirma tu nueva contraseña...">
                            </div>
                            <div class="tipo">
                                <label class="form-label h3"><strong>Tipo de usuario</strong></label>
                                <div class="tipoUsuario btn-group input-box" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="btnradio" id="emprendedor" autocomplete="off" [checked]="usuarioTemporal?.tipo == 'EMPRENDEDOR'">
                                    <label for="emprendedor" class="btn btn-outline-primary">Emprendedor</label>
                                    
                                    <input type="radio" class="btn-check" name="btnradio" id="inversor" autocomplete="off" [checked]="usuarioTemporal?.tipo == 'INVERSOR'">
                                    <label for="inversor" class="btn btn-outline-primary">Inversor</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>