.bg-light-l {
    background-color: #ffffff;
}

.top-bar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
    z-index: 1;
    -webkit-box-shadow: 0px 14px 38px -15px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 14px 38px -15px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 14px 38px -15px rgba(0, 0, 0, 0.20);
}

.default-bar {
    min-height: 72px;
}

.search {
    display: flex;
    width: 216px;
    height: 35px;
    border-radius: 10px;
}

.search>img {
    height: 100%;
    width: 12%;
    padding-left: 10px;
}

.search>input {
    all: unset;
    width: 75%;
    height: 100%;
    padding-left: 10px;
    font-size: 14px;
}

.img-profile {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 40px;
}

.foto-mini-perfil {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.foto-vacia-perfil {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}