.bg-light-l {
    background-color: #FFFFFF;
}

#side-bar, #content {
    transition: 0.3s all;
}

.imagen {
    display: flex;
    flex-direction: row;
}

.btn-danger {
    height: 38px;
}

.col-1-p {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-11-p {
    flex: 0 0 auto;
    width: 91.66666667%;
}

#side-bar, #content {
    transition: 0.3s all;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}