@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

.col-1-p {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-11-p {
    flex: 0 0 auto;
    width: 91.66666667%;
}

h2 {
    font-family: 'Sora', sans-serif;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
}

.default-bar {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pasos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    .paso {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 100px;
        border-radius: 10px;
        background-color: #f2f2f2;
        color: #cfcfcf;
        cursor: pointer;

        .circle {
            font-size: 30px;
            font-weight: 700;
        }

        .text {
            font-size: 14px;
            margin-top: 10px;
            text-align: center;
        }
    }

    .paso-active {
        background-color: #057DCD;
        color: white !important;
    }
}

.form-inversion {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 600px;
    border-radius: 10px;
    background-color: white;

    .inputs-cantidad {
        width: 60%;
        margin: 20px;
        flex-direction: column;
        align-items: center;

        p {
            text-align: center;
        }
    }

    .inputs-datos {
        width: 80%;
    }

    .inputs-datos,
    .inputs-pago {
        flex-direction: column;
    }

    .inputs-pago {
        margin-top: 20px;
    }

    .inputs-cantidad,
    .inputs-datos,
    .inputs-pago {
        display: none;
    }

    .pago {
        width: 100%;
    }

    .ex-cv {
        display: flex;
        gap: 5px;
    }
}

.active {
    display: flex !important;
}

.slider-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #0f91e8;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #0f91e8;
    border: solid 1px white;
    cursor: pointer;
}

.slider::-moz-range-progress {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #057DCD;
}

output {
    display: block;
    font-size: 1.2rem;
    margin-top: 10px;
}

.cantidad-input {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: 'Sora', sans-serif;
}

.siguiente {
    width: 200px;
}

.formulario-pago {
    width: 80%;
    margin: 0 auto;
}

.formulario-pago label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="tel"],
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.fecha-expiracion input[type="text"],
.cvv input[type="text"] {
    width: 100%;
}

@media (max-width: 940px) {
    .form-inversion {
        width: 80%;
    }    
    
    .paso > .text {
        display: none;
    }
}

@media (max-width: 550px) {
    .form-inversion {
        width: 85%;
    }
}