<div class="container-fluid root-element bg-light">
    <div class="row">
        <app-side-bar class="col-2 px-0 z-100" id="side-bar" (click)="onOpenBar()" [open]="open"
            [session]="session"></app-side-bar>
        <div id="content" class="col-10 h-100 pe-0 ps-0">
            <section class="section-content">
                <app-header></app-header>
                <div class="default-bar card-bar bg-light-l">
                    <div class="form-inversion shadow">
                        <h2>Invertir en <em>"{{ idea?.titulo }}"</em></h2>
                        <div class="pasos">
                            <div class="paso" (click)="onClickCantidad()">
                                <div class="circle">1</div>
                                <p class="text">Seleccionar cantidad</p>
                            </div>
                            <div class="paso" (click)="onClickDatos()">
                                <div class="circle">2</div>
                                <p class="text">Completar tus datos</p>
                            </div>
                            <div class="paso" (click)="onClickPago()">
                                <div class="circle">3</div>
                                <p class="text">Realizar el pago</p>
                            </div>
                        </div>
                        <div id="cantidad" class="inputs-cantidad">
                            <p>Introduce la cantidad que quieres invertir:</p>
                            <div class="slider-container">
                                <input (input)="onCantidadInput()" type="text" for="moneyRange" id="moneyValue" class="cantidad-input" value="10€"/>
                                <input (input)="onSliderInput($event)" type="range" min="0" max="100" value="50" class="slider" id="moneyRange" min="10" max="10000" value="100">
                            </div>                          
                        </div>
                        <div id="datos" class="inputs-datos">
                            <div class="d-flex gap-3">
                                <div>
                                    <label for="">Nombre</label>
                                    <input type="text" value="{{ this.usuario?.nombre }}">
                                </div>
                                <div>
                                    <label for="">Apellidos</label>
                                    <input type="text" value="{{ this.usuario?.apellidos }}">
                                </div>
                            </div>

                            <label for="">Correo</label>
                            <input type="text" value="{{ this.usuario?.correo }}">

                            <label for="">Teléfono</label>
                            <input type="text">
                        </div>
                        <div id="pago" class="inputs-pago">
                            <form class="formulario-pago">
                                <label for="numero-tarjeta">Número de Tarjeta:</label>
                                <input type="text" id="numero-tarjeta" name="numero-tarjeta" placeholder="Número de Tarjeta" required>
                                
                                <div class="ex-cv">
                                    <div class="fecha-expiracion">
                                        <label for="expiracion">Expiración:</label>
                                        <input type="text" id="expiracion" name="expiracion" placeholder="MM/YY" required>
                                    </div>
                                
                                    <div class="cvv">
                                        <label for="cvv">CVV:</label>
                                        <input type="text" id="cvv" name="cvv" placeholder="CVV" required>
                                    </div>
                                </div>
                                <button (click)="onInvertirClick($event)" class="btn btn-primary text-light pago">Realizar pago</button>
                            </form>                            
                        </div>
                        @if(this.tab < 3)
                        {
                            <button (click)="onSiguienteClick()" class="btn btn-primary text-light siguiente">Siguiente</button>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>