@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: 'Sora', sans-serif;
}

table{
    width: 100%;
    font-size: 14px;
}

thead,
tbody,
tr,
td,
th {
    border-color: #dee2e6;
    border-style: solid;
    border-width: 1px;
}

th{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.5rem;
    // color: #6c757d;
}

.search {
    display: flex;
    width: 216px;
    height: 35px;
    border-radius: 5px;
    background-color: #F2F2F2;
    border: 1px solid #dee2e6;
}

.search>img {
    height: 100%;
    width: 12%;
    padding-left: 10px;
}

.search>input {
    all: unset;
    width: 75%;
    height: 100%;
    padding-left: 10px;
    font-size: 14px;
}

button.btn.btn-success{
    width: 90px;
}