.message {
    background-color: white;
    border-radius: 5px;
    min-width: 100px;
    max-width: 500px;
    padding: 5px;
}

.foreing {
    background-color: #2e7eff !important;
}

.from {
    font-weight: 700;
}