.message {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 5px;
    background-color: #2e7eff;
    color: white;
    border-radius: 5px;
    max-width: 300px;
    padding: 5px;
}

.message-text {
    word-wrap: break-word;
    max-width: 250px;
    padding: 0;
    margin: 0;
}

.foreing {
    background-color: white !important;
    color: black !important;
}

.time {
    font-size: 10px;
    align-self: flex-end;
}