<div class="root-element bg-light">
    <app-side-bar [session]="session"></app-side-bar>
    <div class="content h-100 pe-0 ps-0">
        <app-header [filterIdeas]="filterIdeas" (filterIdeasChange)="onFilterIdeasChange($event)"></app-header>
        <section id="hero-section" class="hero">
            <div class="hero-content">
                <h1 class="hero-title">¡Bienvenido a la comunidad de FundFlow!</h1>
                <p class="hero-text">Invierte en el futuro: Descubre, crea y
                    respalda ideas que impulsarán un mañana más prometedor y sostenible.</p>
            </div>
            <img loading="eager" class="hero-image" src="../../../assets/img/hero.jpg" alt="hero-section">
        </section>
        <section class="section-content">
            <div id="filters" (scroll)="onScrollMove()" class="default-bar filter-bar bg-light-l">
                <button (click)="onClickRetroceder()" class="retroceder"><img src="../../../assets/icons/retroceder.svg"
                        alt="retroceder" loading="lazy"></button>
                @for (campo of camposArray; track $index ) {
                <button value="{{campo}}" class="filter bg-primary text-light-l" (click)="toggleCampo(campo)"
                    [class.btnSelected]="isSelected(campo)">
                    {{campo}}
                </button>
                }
                <button (click)="onClickAvanzar()" class="avanzar"><img src="../../../assets/icons/avanzar.svg"
                        alt="retroceder" loading="lazy"></button>
            </div>
            <div class="default-bar card-bar bg-light-l"
                [ngClass]="{ 'd-flex justify-content-center align-items-center': ideasNotFound }">
                <ng-container *ngFor="let idea of ideas | ideaFilter: filterIdeas">
                    <app-idea-item [idea]="idea"></app-idea-item>
                </ng-container>
                <div *ngIf="ideasNotFound" class="no-results-message">
                    No hay resultados para esta búsqueda
                </div>
            </div>
        </section>
    </div>
</div>