.bg-light-l {
    background-color: #FFFFFF;
}

#side-bar, #content {
    transition: 0.3s all;
}

.imagen {
    display: flex;
    flex-direction: row;
}

.btn-danger {
    height: 38px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}