<div class="modal fade" id="myModal" #myModal (hidden.bs.modal)="resetForm()">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-primary">Añadir nuevo usuario</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body px-5 py-3">
                <form novalidate autocomplete="off" #registroForm="ngForm">
                    <div class="mb-3">
                        <div class="w-100 tabs btn-group input-box">
                            <input type="radio" class="btn-check" name="tipoUsuario" [value]="'EMPRENDEDOR'" id="emprendedor" 
                                [checked]="newUsuario.tipo == 'EMPRENDEDOR'" 
                                (click)="newUsuario.tipo = 'EMPRENDEDOR'">
                            <label for="emprendedor" class="btn btn-outline-primary">Emprendedor</label>
                            
                            <input type="radio" class="btn-check" name="tipoUsuario" [value]="'INVERSOR'" id="inversor" 
                                [checked]="newUsuario.tipo == 'INVERSOR'"
                                (click)="newUsuario.tipo = 'INVERSOR'">
                            <label for="inversor" class="btn btn-outline-primary">Inversor</label>
                        </div>
                    </div>

                    <div class="mb-3 gap-3 d-flex justify-content-center">
                        <div>
                            <div class="form-group">
                                <input id="nombre" type="text" class="form-control" name="name" value=""
                                    placeholder="Nombre" [(ngModel)]="newUsuario.nombre" #nombre="ngModel"
                                    required
                                    [ngClass]="validClasses(nombre, 'is-valid', 'is-invalid')">
                                <div class="invalid-feedback">
                                    Nombre requerido
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <input id="apellidos" type="text" class="form-control" name="apellidos" value=""
                                    placeholder="Apellidos" [(ngModel)]="newUsuario.apellidos" required
                                    #apellidos="ngModel"
                                    [ngClass]="validClasses(apellidos, 'is-valid', 'is-invalid')">
                                <div class="invalid-feedback">
                                    Apellidos requeridos
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <input id="email" type="text" class="form-control w-100" name="email" value=""
                            placeholder="Email" [(ngModel)]="newUsuario.correo" #email="ngModel" required
                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                            [ngClass]="validClasses(email, 'is-valid', 'is-invalid')">
                        <div class="invalid-feedback">
                            <div *ngIf="!userExists">
                                Email requerido (formato no válido)
                            </div>
                            <div *ngIf="userExists">
                                Ya existe un usuario con este email
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <input id="password" class="form-control w-100" type="password" name="password"
                            placeholder="Contraseña" [(ngModel)]="newUsuario.contrasena" required
                            #password="ngModel" [ngClass]="validClasses(password, 'is-valid', 'is-invalid')">
                        <div class="invalid-feedback">
                            Contraseña requerida
                        </div>
                    </div>

                    <div class="mb-3">
                        <input id="confirmPassword" class="form-control w-100" type="password"
                            name="confirmPassword" placeholder="Confirmar Contraseña"
                            [(ngModel)]="newUsuario.confirmarContrasena" required #confirmPassword="ngModel"
                            [ngClass]="validPassword(confirmPassword, 'is-valid', 'is-invalid')">
                        <div class="invalid-feedback">
                            <div *ngIf="newUsuario.confirmarContrasena !== ''">
                                Las contraseñas no coinciden
                            </div>
                            <div *ngIf="newUsuario.confirmarContrasena === ''">
                                Confirmar Contraseña requerida
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary text-white" [attr.data-bs-toggle]="!userExists ? 'modal' : ''" (click)="addNewUsuario()" [disabled]="registroForm.invalid || !contrasenasCoinciden()">Guardar</button>
            </div>
        </div>
    </div>
</div>
