<div class="container-fluid root-element bg-light relative">
    <div class="row">
        <app-side-bar 
            class="col-2 px-0" id="side-bar" 
            (click)="onOpenBar()" 
            [open]="open"
            [session]="session"
        ></app-side-bar>
        <div id="content" class="col-10 h-100 pe-0 ps-0">
            <section class="section-content">
                <div class="idea-info bg-light-l">
                    <div class="titulo-idea">
                        <div class="start">
                            <img class="border border-light" src="{{ this.imagenMain }}" alt="perfil">
                            <div class="datos-titulo">
                                <h1>{{ this.idea?.titulo }}</h1>
                                <div (click)="onClickProfile()" class="nombre-usuario">{{ this.nombreCompleto }}</div>
                            </div>
                        </div>
                        @if(this.session && !this.propietario) {
                            <button id="boton-guardar" (click)="onClickGuardar()" class="btn btn-primary text-light-l">
                                <span id="texto-boton">Añadir a favoritos!</span>
                                <img id="guardar-tick" src="../../../assets/icons/guardado.svg" alt="guardado">
                            </button>
                        }
                    </div>
                    <h4>Descripción</h4>
                    <p>{{ this.idea?.descripcion }}</p>
                </div>
                <div class="inversores-info bg-light-l">
                    <div>
                        <p>{{ this.inversionesRecibidas.length }}</p>
                        <p>Inversiones</p>
                    </div>
                    <div>
                        <p>{{ this.idea?.hitos?.length }}</p>
                        <p>Hitos Terminados</p>
                    </div>
                    <div>
                        <p>{{ this.totalRecibido }}€</p>
                        <p>Total Invertido</p>
                    </div>
                </div>
                <div class="imagenes-idea bg-light-l">
                    <h4>Imagenes</h4>
                    <div class="imagenes">
                        @for (imagen of this.idea?.imagenes; track $index) {
                            <img (click)="onClickImage($event)" src="{{ imagen }}" alt="imagen">
                        }
                    </div>
                </div>
                <div class="linea-tiempo bg-light-l">
                    <h4>Linea de tiempo</h4>
                    <ul class="hitos">
                        @for(hito of this.idea?.hitos; track $index) {
                            <li class="hito">
                                <div class="custom-bullet"></div>
                                <h5 class="titulo-hito d-flex align-items-center">
                                    {{ hito.titulo }}
                                    @if(this.propietario) {
                                        <img (click)="onClickEliminarHito(hito)" role="button" class="ms-2 target" src="../../../assets/icons/trash.svg" alt="eliminar">
                                    }
                                </h5>
                                <div class="fecha-hito">{{ hito.fecha.toString().split('T')[0].split('-').reverse().join('/') }}</div>
                                <div class="descripcion-hito">{{ hito.texto }}</div>
                            </li>
                        }
                        @if(this.idea?.hitos?.length === 0) {
                            <li class="hito">
                                <h5 class="titulo-hito">No hay hitos</h5>
                            </li>
                        }
                        @if(this.propietario) {
                            <li class="hito" [ngClass]="{'d-none' : !this.idea?.hitos || this.idea?.hitos?.length === 0 || nuevoHito}">
                                <button (click)="onClickNuevoHito()" class="btn btn-primary text-light-l">Añadir Hito</button>
                            </li>
                            @if(!this.idea?.hitos || this.idea?.hitos?.length === 0 || this.nuevoHito) {
                                <li class="hito">
                                    <div class="custom-bullet"></div>
                                    <h5 class="titulo-hito"><input [(ngModel)]="this.hito.titulo" name="titulo-hito" type="text" placeholder="Titulo"></h5>
                                    <div class="fecha-hito">{{ this.fechaHoy }}</div>
                                    <div class="descripcion-hito"><textarea [(ngModel)]="this.hito.texto" name="contenido-hito" class="texto-hito" placeholder="Contenido..."></textarea></div>
                                    <div>
                                        <button (click)="onClickGuardarHito()" class="btn btn-primary text-light-l mt-3">Guardar</button>
                                        <button (click)="onClickCancelarHito()" class="btn btn-primary text-light-l mt-3 ms-2">Cancelar</button>
                                    </div>
                                </li>
                            }
                        }    
                    </ul>
                </div>
                <div id="invertir-section" class="invertir bg-light-l col-10">
                    @if(this.propietario) {
                        <button class="btn btn-primary text-light-l">Editar</button>
                    } @else {
                        <button [routerLink]="['/invertir/' + this.ideaId]" class="btn btn-primary text-light-l">Invertir</button>
                    }
                </div>
            </section>
        </div>
    </div>
    <div id="overlay" class="overlay">
        <img id="image-overlay" class="images-click" src="" alt="visualize-image">
        <span class="close-image" (click)="onCloseImage()">X</span>
    </div>
</div>
