a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    gap: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

a:hover {
    background-color: rgb(201, 201, 201);
    transition: 0.3s all;
}

a > p {
    text-align: center;
}

label {
    display: inline-block;
    cursor: inherit;
    text-align: center;
    user-select: none;
    transition: none !important;
}

img {
    user-select: none;
}

.small-bar-mode {
    width: 80px;
    flex-direction: column;
    font-size: 0.8rem;
    gap: 0px;

}

@media (max-width: 1300px) {
    label {
        display: none;
    }

    img {
        width: 30px;
        height: 30px;
    }
}