.text-light-l {
    color: #ffffff;
}

.foto-idea {
    height: 170px;
    object-fit: cover;
}

.card {
    width: 350px;
    margin: 20px;
}

.card-title {
    font-weight: 600;
}

.caja-des {
    height: 75px;
}

.descripcion {
    max-height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.campo {
    font-size: 12px;
}

@media (max-width: 500px) {
    .card {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .card {
        width: 277px;
    }
}