<div class="container-fluid bg-danger h-100">
    <div class="row bg-primary">
        <div class="row">
            <img src="" alt="banner_perfil" class="img-fluid">
        </div>
        <div class="row">

        </div>
        <div class="col-4 bg-success">
            <img src="" alt="foto_perfil" class="rounded-circle bg-primary">
            <p>Nombre</p>
            <p>Profesión</p>
            <button class="btn bg-primary">Enviar mensaje</button>
        </div>
        <div class="col-8">
            <div class="row justify-content-start">
                <div class="col-1 justify-content-start">
                    <div class="text-center">
                        <p class="h2">1.208</p>
                        <p>Recibido</p>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-1 text-center">
                    <p class="h2">2</p>
                    <p>Inversores</p>
                </div>
                <div class="col-12">
                    <p class="h3">Descripción</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt itaque laudantium magnam quidem dolorum possimus temporibus earum eveniet, repellat quae beatae autem labore reprehenderit cupiditate vel repudiandae facilis aperiam fugit nam? Dolores eius laborum inventore quae labore expedita nisi accusantium quod. Ipsa saepe assumenda reiciendis nam numquam impedit, accusantium laudantium!</p>
            </div>
        </div>
    </div>
    <div class="row bg-warning">
        <div class="card mb-3 col-4 m-4 shadow">
            <img src="" alt="foto_idea" class="card-img-top">
            <div class="card-body">
                <div class="row mb-">
                    <h5 class="card-title">Nombre idea</h5>
                    <p class="card-text"><small class="text-body-secondary">Campo: IT</small></p>
                </div>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, illo.</p>
            </div>
        </div>
    </div>
</div>