<div class="container-fluid root-element bg-light">
    <div class="row">
        <app-side-bar class="col-2 px-0 z-100" id="side-bar" (click)="onOpenBar($event)" [open]="open"
            [session]="session"></app-side-bar>
        <div id="content" class="col-10 h-100 pe-0 ps-0">
            <section class="section-content">
                <app-header [filterSearch]="filterSearch"
                    (filterSearchChange)="onFilterNoticiasChange($event)"></app-header>
                <h1 class="news-item bg-light-l">Noticias - Novedades en el mundo de las inversiones</h1>
                <div class="default-bar card-bar bg-light-l p-4"
                    [ngClass]="{ 'd-flex justify-content-center align-items-center': noticiasNotFound }">
                    <ng-container *ngFor="let noticia of noticias">
                        <a href="{{noticia.link}}" target="_blank" class="hover-grow" rel="noopener noreferrer">
                            <div class="card-noticia bg-light p-3 d-flex flex-column">
                                <h3 class="text-primary mb-3">{{ noticia.titulo }}</h3>
                                <p>{{noticia.descripcion}}</p>
                                <small class="align-self-end mt-auto">{{noticia.fecha | date: 'd/MM/Y, H:mm' }}</small>
                            </div>
                        </a>
                    </ng-container>
                    <div *ngIf="noticiasNotFound" class="no-results-message">
                        No hay resultados para esta búsqueda
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>