@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: 'Sora', sans-serif;
}

.search {
    display: flex;
    width: 216px;
    height: 35px;
    border-radius: 5px;
    background-color: #F2F2F2;
    border: 1px solid #dee2e6;
}

.search>img {
    height: 100%;
    width: 12%;
    padding-left: 10px;
}

.search>input {
    all: unset;
    width: 75%;
    height: 100%;
    padding-left: 10px;
    font-size: 14px;
}

select[name="dataTable_length"] {
    width: auto;
    appearance: revert;
}

.card-bar {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    justify-content: center;
}

.card-bar>.card-idea {
    background-color: #1E3D58;
}

.card-idea {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 420px;
    height: 200px;
}

a.page-link:hover {
    cursor: pointer;
}