@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

.bg-light-l {
    background-color: #ffffff;
}

.text-light-l {
    color: #ffffff !important;
}

.bg-primary-d {
    background-color: #1E3D58 !important;
}

.root-element {
    min-height: 100vh;
}

#side-bar, #content {
    transition: 0.3s all;
}

.top-bar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
    z-index: 1;
    -webkit-box-shadow: 0px 14px 38px -15px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 14px 38px -15px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 14px 38px -15px rgba(0, 0, 0, 0.20);
}

.search {
    display: flex;
    width: 216px;
    height: 35px;
    border-radius: 10px;
}

.search>img {
    height: 100%;
    width: 12%;
    padding-left: 10px;
}

.search>input {
    all: unset;
    width: 75%;
    height: 100%;
    padding-left: 10px;
    font-size: 14px;
}

.img-profile {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 40px;
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.default-bar {
    min-height: 72px;
}

.filter-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

.filter {
    all: unset;
    min-width: 144px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Sora', sans-serif;
    transition: 0.3s;
}

.filter:hover {
    background-color: #2b91d5 !important;
}

.card-bar {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    justify-content: center;
}

.card-bar>.card {
    background-color: #1E3D58;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 420px;
    height: 200px;
}

.col-1-p {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-11-p {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.btnSelected{
    background-color: #1E3D58 !important;
}

.btnSelected:hover{
    background-color: #3c709b !important;
}

@media (width < 1850px) {
    .card-bar {
        grid-template-columns: repeat(3, 0.5fr);
    }
}

@media (width < 1400px) {
    .card-bar {
        grid-template-columns: repeat(2, 0.5fr);
    }
}

@media (width < 900px) {
    .card-bar {
        grid-template-columns: repeat(1, 0.5fr);
    }
}

@media (width < 400px) {
    .img-profile {
        width: 40px;
    }
}