<div class="container-fluid root-element bg-light">
    <div class="row">
        <app-side-bar 
            class="col-2 px-0" id="side-bar" 
            (click)="onOpenBar()" 
            [open]="open"
            [session]="session"
        ></app-side-bar>
        <div id="content" class="col-10 h-100 pe-0 ps-0">
            <section class="section-content">
                <div class="default-bar top-bar bg-light-l">
                    <a class="img-profile bg-primary" href="perfil"></a>
                    <div class="search bg-light">
                        <img src="../../assets/icons/search.svg" alt="">
                        <input type="search" placeholder="Buscar">
                    </div>
                </div>
                <div class="default-bar filter-bar bg-light-l">
                    @for (campo of camposArray; track $index ) {
                        <button class="filter bg-primary text-light-l">{{campo}}</button>
                    }
                </div>
                <div class="default-bar card-bar bg-light-l">
                    @for (idea of ideas; track idea.id) {
                        <app-idea-item [idea]="idea"></app-idea-item>
                    }
                </div>
            </section>
        </div>
    </div>
</div>